#pp_map img {
    max-width: none !important;
}

.um-map-infobox {
  padding: 20px 30px;
  font-size: 14px;
}

.um-map-infobox > div {
  margin: 20px 0;
}

.um-map-infobox-profile-link {
  font-size: 16px;
  font-weight: bold;
  color: #424242;
  margin: 40px 0;
}

.um-map-info-box-field-clinic_name {
  font-size: 22px;
  font-weight: bold;
  color: #747474;
}
